*{
    margin: 0;
    padding: 0;
}
.first{
    height:100%;
    width:100%;
    background: linear-gradient(to top, rgba(248, 2, 2, 0.966)10%,rgba(233, 108, 108, 0.5)50%), url(lv.jpg);
    background-position: center;
    background-size:45%;
    position: absolute;
}
.form{
    width: 310px;
    height: 420px;
    position: relative;
    margin: 6% auto;
    background: rgb(241, 96, 181);
    padding: 10px;
    border-radius: 15px;

}
.button{
    width: 300px;
    margin: 40px;
    position: relative;
    box-shadow: 0 0 20px 9px  #ff61241f;
    border-radius: 30px;
}
.tbn{
    background: transparent;
    cursor: pointer;
    padding: 10px 30px;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: 5s;
    position: absolute;
}
.input-group{
    top: 50px;
    position: absolute;
    width: 280px;
    transition:  .5s;
}

.input-field {
    width: 90%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top:  0;
    border-bottom: 1px solid #999;
    outline:none;
    background:transparent;
}
.submit-btn {
    width: 85%;
    padding: 10px 30px 10px 20px;
    cursor:pointer;
    display: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border:  0;
    outline: none;
    border-radius: 30px;
}
.check-box{
margin: 16px;
       
}
.social-icons {
    margin: 30px auto;
    text-align: center;
}
.social-icons img {
    width: 60px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
}
.or{
   margin: 10px;
   padding: 4px;
}